.averageSession {
    width: 33%; /* par exemple */
    height: 0;
    padding-bottom: 33%; /* même valeur que la largeur en pourcentage */
    position: relative;
    background-color: red;
    border-radius: 5px;
    display: block;

  &-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

  &-title {
    margin : 1rem 0 0 1rem;
    font-family: Roboto, sans-serif;
    font-size: calc(8px + .7vw);
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    height: 30%;
    color: #FFFFFF;
    opacity: .5;
  }
  &-graph {
    height: 70%;
  }
}
