.dailyActivity {
  width: 100%;
  padding : 0 0 30% 0;
  position: relative;
  background-color: #FBFBFB;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.0212249);
  margin: 0 0 1.5rem 0;

  &-tooltip {
    background : red;
    padding : .5rem;

    &-label {
      color : white;
    }
  }

  &-container {

    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    padding : 1rem 1rem 33% 1rem;
  }

  &-title {

    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    max-height: 20%;
  }

  &-graph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
  }
}


