.dashboard {
  margin: 0 0 0 2rem;

  &-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: calc(100vw - 15rem);
    margin : 0;

    &-left {
      display: flex;
      flex-direction: column;
      width: 70%;
      justify-content: space-between;
    }

    &-right {
      display: flex;
      flex-direction: column;
      width: 30%;

    }
  }

  &-greeting {
    font-family: Roboto, sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;

    &-name {
      color: red;
    }

    &-message {
      font-family: Roboto, sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0;
      text-align: left;
    }
  }

  &-line {
    &-1 {
      height: 50%;
      margin-bottom : 3rem;
    }

    &-2 {
      margin-top: 1rem;
      height: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
