.individualData {
  display: flex;
  width: 100%;



  &-content {
    display: flex;
    justify-content: space-between;
    background-color : rgba(251, 251, 251, 1);
    border-radius: 10px;
    padding: 10% 20%;
    margin-bottom: 20px;
    width: 100%;

    &-logo {
      &-img {
        margin: auto
      }

      &-container {
        border-radius: 15%;
        width: 50px;
        height: 50px;
        background-color: #FBFBFB;
        display:flex;

        &.calories {
          background-color: rgba(255, 0, 0, 0.1);
        }

        &.proteins {
          background-color: rgba(74, 184, 255, 0.1);
        }

        &.glucides {
          background-color: rgba(249, 206, 35, .1);
        }

        &.lipides {
          background-color: rgba(253, 81, 129, 0.1);
        }
      }
    }

    &-data {

      &-container {
        display: flex;
        flex-direction: column;
        border-radius: 10%;
        background-color: #FBFBFB;
      }

      &-value {
        font-family: Roboto, sans-serif;
        font-size: calc(8px + 0.6vw);
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0;
        text-align: left;
        color : #282D30;
        margin : 0;
      }

      &-type {
        font-family: Roboto, sans-serif;
        font-size: calc(8px + 0.4vw);
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0;
        text-align: left;
        color: #74798C;
        margin : 0;
      }
    }
  }

}
