.radialGoal {
  width: 33%;
  height: 0;
  padding-bottom: 33%;
  position: relative;

  &-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    width: 100%;
    height: 80%;
    z-index: 1;
  }

  & > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
